<form action="/login" method="post">
<label for="email">E-mail:</label>
<input type="text" name="email">
<label for="password">Senha</label>
<input type="text" name="password">
<button type="submit">Login</button>
</form>