<form action="/new-library" method="post">
  <div class="form-group">
    <label for="inputTitle">Title</label>
    <input name= "title" type="text" class="form-control" id="inputTitle" placeholder="Developers IronHack">
  </div>
  <div class="form-group">
    <label for="inputSubtitle">Subtitle</label>
    <input name= "subtitle" type="text" class="form-control" id="inputSubtitle" placeholder="Shared Tech Books">
  </div>
  <div class="form-group">
    <label for="inputAddress">Details</label>
    <input name= "description" type="text" class="form-control" id="inputAddress" placeholder="This library is for...">
  </div>

  <button type="submit" class="btn btn-primary">Create</button>
  {{#if message}}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  
</form>
