* {
  margin: 0;
  padding: 0;
}

body {
  // padding: 0px 30px;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 14px;
}

a {
  color: #00B7FF;
}

.btn {
  margin: 10px 0px;
}

.corpo {
  padding: 0px 30px;
}