<div id="bookDetailDiv">
  <img id="bookDetailImage">
  <h1 id="bookDetailTitle"></h1>
  <br>
  <h2 id="bookDetailAuthor"></h2>
  <br>
  <p id="bookDetailPublisher"></p>
  <br>
  <p id="bookDetailPublishedDate"></p>
  <br>
  <p id="bookDetailDescription"></p>
</div>  