<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/signup">Singup</a>
<a href="/login">login</a>
<a href="/logout">logout</a>


<label for="">Title</label>
<input id="inputSearchTitleBook">
<label for="">Author</label>
<input id="inputSearchAuthorBook">
<button id="searchBook">Search</button>
<div id="divListBook"></div>