<form action="/search-book" method="get">
  <label for="title">Title:</label>
  <input type="text" name="title" id="" placeholder="">
  <label for="">Author:</label>
  <input type="text" name="author" id="" placeholder="">
  <button type="submit">Search</button>
</form>